# 把這個檔複製成 .streamlit/secrets.toml 後填入真實內容
# 注意：secrets.toml 不要 commit 到 git！

[gsheet]
# 試算表網址：https://docs.google.com/spreadsheets/d/【這串就是 sheet_id】/edit
sheet_id = "請貼上 Google Sheet ID"

[gcp_service_account]
# 整個 service account JSON 的內容，依下列格式逐欄填寫
type = "service_account"
project_id = "your-project-id"
private_key_id = "abc123..."
private_key = """-----BEGIN PRIVATE KEY-----
MII...
-----END PRIVATE KEY-----
"""
client_email = "xxx@your-project-id.iam.gserviceaccount.com"
client_id = "1234567890"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "https://www.googleapis.com/robot/v1/metadata/x509/xxx%40your-project-id.iam.gserviceaccount.com"
universe_domain = "googleapis.com"
